@import "./theme.css";

html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: "NewStroke";

    background-color: var(--color-background);

    color: var(--color-text);
}

main {
    flex: 1;

    padding: 16px;
}

a {
    color: var(--color-link);
}

/* Main page cards */
.journal-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}

.journal-card {
    max-width: 35em;
    display: flex;
    flex-direction: column;
    gap: .5em;

    border: 1px solid var(--color-border);
    padding: 1em;
}

.journal-card-title,
.journal-card-date,
.journal-card-image,
.journal-card-description {
    margin: 0;
}

.journal-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
