@import "./theme.css";

html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;

    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    font-family: "NewStroke";

    background-color: var(--color-background-secondary);
    color: var(--color-text);

    word-wrap: break-word;
}

main {
    flex: 1;

    padding: 1em;
    padding-bottom: 3em;

    align-items: center;

    background-color: var(--color-background);
}
/* TODO: Set center main and set width based on screen size */
@media (min-width: 480px) {
    main {
        margin-left: 3em;
        margin-right: 3em;

        border-left: 1px solid var(--color-main-border);
        border-right: 1px solid var(--color-main-border);
    }
    .journal-card {
        width: 30em;
    }
}
@media (min-width: 768px) {
    main {
        margin-left: 5em;
        margin-right: 5em;
    }
}

a {
    color: var(--color-link);
}

code {
    font-family: "NewStroke";
}
code:not([class]):not(.codehilite code) {
    padding: 0.2em 0.4em;
    border-radius: var(--border-sm);

    background-color: var(--color-background-code);
}
pre.codehilite {
    padding: 1em;

    background-color: var(--color-background-code);
    border-radius: var(--border-md);
}

table {
    border-collapse: collapse;
}
table th,
table td {
    border: 1px solid var(--color-border);
    padding: 0.5em 1em;
}
table th {
    background-color: var(--color-background-secondary);
}

kbd {
    padding: 0.2em 0.4em;
    border-radius: var(--border-md);

    background-color: var(--color-background-kbd);
}

/* Main page cards */
.journal-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.journal-card {
    width: 25em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    border: 1px solid var(--color-border);
    padding: 1em;
}

.journal-card-title,
.journal-card-date,
.journal-card-image,
.journal-card-description {
    margin: 0;
}

.journal-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.journal-card-image {
    width: 100%;
    height: auto;
}
