@font-face {
    font-family: NewStroke;
    src: "/static/font/NewStroke-T0.125.ttf";
}

:root {
    /* A Onedark theme */
    --color-primary: #e06c75;
    --color-accent: #528bff;
    --color-accent-secondary: #d19a66;

    --color-background: #282c34;
    --color-background-secondary: #21252b;

    --color-background-code: var(--color-background-secondary);
    --color-background-kbd: #424a56;

    --color-foreground: #abb2bf;

    --color-text: var(--color-foreground);
    --color-link: #98c379;

    --color-border: var(--color-foreground);
    --color-main-border: #3e4451;
    --color-box-shadow: var(--color-foreground);

    --border-sm: 2px;
    --border-md: 4px;
    --border-lg: 8px;

    --box-shadow-sm: 4px var(--color-box-shadow) ;
    --box-shadow-md: 8px var(--color-box-shadow);
    --box-shadow-lg: 16px var(--color-box-shadow);

    --spacing-horizontal-sm: 0.5rem;
    --spacing-horizontal-md: 1rem;
    --spacing-horizontal-lg: 1.5rem;

    --spacing-vertical-sm: 0.5rem;
    --spacing-vertical-md: 1rem;
    --spacing-vertical-lg: 1.5rem;
}
